@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient( to right, #1a1a1d 0%, #1a1a1d 50%, #950740 50%, #950740 100%);
}

.column {
    width: 19%;
    float: left;
    padding-top: 8%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:600px) {
    .column {
        width: 100px;
        display: block;
        margin-bottom: 20px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0);
    max-width: 200px;
    margin: auto;
    background-color: #747070;
    text-align: center;
    border-radius: 40px;
    padding-bottom: 10px;
}